{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static "blogs/css/1.css" %}">
  <title>jiangs' blog</title>
</head>
<body>
  <h1 class='title'><a href="/blogs/"><strong>jiangs' blog</strong></a></h1>
    <div class='side_blank'>&nbsp;</div><!-- side_blank ending -->
    <div class='contend'>
      <div class='blog'>
        <h1><small><a href='/blogs/{{ blog.tag }}/' id='tag'>{{ blog.tag }}:</a></small>{{ blog.title }}</h1>
        <p class='blog_context'>{{blog.context}}</p>
        <p class= 'pub_date'>{{blog.pub_date}}</p>
      </div><!-- blog end -->
    </div><!-- contend end-->
    <div class='right_side_bar'>
      <h2><strong>记录</strong></br></br><em>成长和学习</em></br>的</br>点滴</h2>
    </div><!-- right_side_bar end -->
    <div class='side_blank' >&nbsp;</div><!-- side_blank end -->
</body>
</html>
